
<nav>
  <a href="/">Ir a Home</a>
  <a href="realTimeProducts">Ir a realTimeProducts</a>
  <a href="products">Ir a Products</a>
</nav>

<section class="twoColumns">
  <div class="form" id="newProductForm">
    <p>Crear Producto</p>
    <form id="formNewProduct"
    {{!-- action="/api/products/" method="post" --}}
    >
      <div>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" />
      </div>
      <div>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" />
      </div>
      <div>
        <label for="code">Code: </label>
        <input type="text" name="code" id="code" />
      </div>
      <div>
        <label for="price">Price: </label>
        <input type="number" step="0.01" name="price" id="price" />
      </div>
      {{!-- <div>
        <label for="status">Status: </label>
        <input type="text" name="status" id="status" />
      </div> --}}
      <div>
        <label for="stock">Stock: </label>
        <input type="number" name="stock" id="stock" />
      </div>
      <div>
        <label for="category">Category: </label>
        <input type="text" name="category" id="category" />
      </div>
      <div class="buttonEnviar">
        <input type="submit" value="Enviar">
        {{!-- <button onclick="saveProductSocket">Enviar</button> --}}
        {{!-- <button id="EnviarForm">enviar</button> --}}
      </div>
    </form>
  </div>
  <div class="container" id="productContainer">
   {{> socketProduct }}
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
