:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


html {
  scroll-behavior: smooth;
  background-color: darkgray;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  line-height: 1.4em;  
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;  
  font-smooth: always;  
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
}

form div {
  display: inherit;
  flex-direction: column;
}

input[type="text"],
input[type="number"] {
  background-color: bisque;
  height: 2rem;
  padding-left: 0.5rem;
}
button,
input[type="submit"] {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: silver;
  box-shadow: 1px 1px 1px black;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
p svg {
  display: inline;
  width: initial;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0;
  background-color: teal;
}

nav a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgb(62, 62, 62);
  background-color: rgb(121, 196, 199);
}

li {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: antiquewhite;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  align-content: flex-start;
  background-color: teal;
}

.container div {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.8rem;
  color: aliceblue;
  box-shadow: 1px 1px 1px black;
  background-color: rgba(13, 85, 163, 0.747);
}

.container div button {
  width: 80%;
  align-self: center;
  position: absolute;
  color: #393939;
  bottom: 2rem;
}

.twoColumns {
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 20rem auto;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem;
  gap: 2rem;
  background-color: teal;
}

.form h2 {
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.form div {
  padding: 0.8rem;
  background-color: rgb(128, 126, 126);
}

.buttonEnviar {
  display: flex;
  justify-content: center;
  align-content: center;
}
